body{
    background-color: rgb(96, 69, 36);
    background-image: url("PawPrint.jpg");
}

h1 {  
    text-align: center; 
    font-size: 45px;  
    background-color: rgb(255, 255, 255);  
    border: 3px solid rgb(0, 0, 0); 
    color: rgb(0, 0, 0);
    font-family: 'Bahnschrift', sans-serif; 
    border-radius: 10px;
    box-shadow: 4px 4px 2px 0px #222222;
    margin: 0 60px 0 60px;
}  

.formstyle  
{  
    width: 500px;  
    height: auto;  
    margin: 0 auto 0 auto;
    background-color: rgb(255, 237, 195);
    border: 3px solid rgb(0, 0, 0);  
    border-radius: 15px;  
    padding: 10px;
    text-align: center;
    box-shadow: 4px 4px 2px 0px #222222;
    font-family: 'Bahnschrift', sans-serif;
}  

input  
{  
    width: 220px;
    background-color: whitesmoke;  
    color: black;  
    border: 3px solid black;  
    border-radius: 5px;     
    font-size: 28px;
    font-weight: bold;
    font-family: 'Bahnschrift', sans-serif;
    box-shadow: 2px 2px 2px 0px #5c5c5c;
    text-align: center;

}

button
{
    width: 220px;
    background-color: rgb(96, 69, 36);  
    color: rgb(255, 255, 255);  
    border: 3px solid black;  
    border-radius: 5px;     
    font-size: 20px;
    font-weight: bold;
    font-family: 'Bahnschrift', sans-serif;
    box-shadow: 2px 2px 2px 0px #5c5c5c;
    text-align: center;
}

button:hover
{
    background-color: blue;
    color: rgb(127, 127, 127);
}

#result{
    font-size: 40px;
}